@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <title></title>
</head>
<body>
    <div class="jumbotron" style="background-color: #3169ad;color: white">
        <h2 align="center">欢迎来到管理员后台,@Session["userNickName"]</h2>
    </div>

</body>
</html>
