@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <title></title>

    <script>
        function RevisePassword() {
            $.ajax({
                type: "POST",
                url: "/Admin/PasswordAuthentication",
                data: $('#revise').serialize(),
                async: false,
                error: function (request) {
                    alert("Connection error")
                },
                success: function (data) {
                    if (data.code == 200) {
                        alert(data.message)
                    } else if (data.code == 300) {
                        parent.window.location.href = data.data + "?message=" + data.message
                    } else {
                        alert(data.message)
                    }
                }

            });
        }
    </script>
</head>
<body>

    <h2 align="center" class="text-warning">修改密码</h2>

    <div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="form-horizontal" id="revise">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="password">旧密码：</label>
                        <div class="col-lg-10">
                            <input type="password" id="email" name="email" class=" form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="password">新密码：</label>
                        <div class="col-lg-10">
                            <input type="password" id="password" name="password" class=" form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="password">确认密码：</label>
                        <div class="col-lg-10">
                            <input type="password" id="nickname" name="nickname" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="submit" class="btn btn-primary" onclick="RevisePassword()">确认</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>